BOT_TOKEN=8425435691:AAGtidyzNJyC6erRid1ihtZWRBghcoNVqgY
ADMIN_ID=1400836022
UPI_ID=adi.9258@ptaxis
MERCHANT_NAME=MEMBERSHIP
GOOGLE_DRIVE_CREDENTIALS=path_to_your_service_account_json_or_json_string
PORT=3000
